{% extends 'base.html' %} {% block content %}
<div class="mt-12 mx-auto">
  <div class="flex flex-col gap-2 items-center justify-center">
    {% if module %}
    <form
      method="post"
      enctype="multipart/form-data"
      action="{% url 'new-module' %}"
    >
      {% else %}
      <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'new-module' %}"
      >
        {% endif %} {% csrf_token %}
        <div class="flex flex-col gap-3 mb-3">
          <div>
            <label for="id_front" class="block text-sm font-bold">Name</label>
            <input
              type="text"
              name="name"
              value="{{ module.name }}"
              maxlength="120"
              required
              id="id_name"
              placeholder="Name"
              class="rounded-lg text-gray-700"
            />
          </div>
        </div>
        <button
          type="submit"
          class="text-xl border border-indigo-500 hover:bg-indigo-500 rounded-lg p-1 w-full"
        >
          Save
        </button>
      </form>
    </form>
  </div>
</div>
{%endblock %}
