{% extends 'base.html' %} {% block content %}
<div class="mt-12 flex justify-center">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col md:flex-row gap-2 md:gap-8">
      <a
        class="w-full text-xl font-semibold text-center rounded-lg p-1 border hover:bg-blue-400 hover:text-gray-800 dark:hover:bg-gray-500 dark:border-gray-500"
        href="{% url 'cards-round' %}"
        >Start a round</a
      >
      <a
        class="w-full text-xl font-semibold text-center rounded-lg p-1 border hover:bg-blue-400 hover:text-gray-800 dark:hover:bg-gray-500 dark:border-gray-500"
        href=""
        >Statistics</a
      >
      <a
        class="w-full text-xl font-semibold text-center rounded-lg p-1 border hover:bg-blue-400 hover:text-gray-800 dark:hover:bg-gray-500 dark:border-gray-500"
        href="{% url 'new-module' %}"
        >+</a
      >
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
      {% for module in modules %}
      <div
        class="w-44 h-36 md:w-52 md:h-48 p-4 border rounded-lg shadow-md cursor-pointer hover:text-blue-600 dark:hover:text-blue-300 hover:-translate-y-1 duration-150"
        onclick="window.location.href='{% url 'module-index' module.slug %}'"
      >
        <p class="text-xl font-semibold text-center">{{module.name}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
