{% extends 'base.html' %} {% load static %} {% block head_script %}
<script src="{% static 'js/flash_card_round.js' %}"></script>
{% endblock %} {% block content %}
<div class="mt-12 flex justify-center" x-data="card_round">
  <div
    class="flex flex-col items-center gap-8"
    x-data="{csrf_token: '{{ csrf_token }}'}"
  >
    <div class="">
      Current round:
      <span x-text="queue.filter(c => c.correct).length"></span>
      correct out of
      <span x-text="queue.length"></span>
      <!--<p className="text-center">{timer} seconds elapsed</p>-->
    </div>
    <div
      class="cursor-pointer border w-96 h-64 relative flex justify-center items-center rounded-lg shadow-md"
      x-on:click="flip=!flip"
      style="transition-duration: 250ms; transform-style: preserve-3d"
      :class="flip ? 'flip' : ''"
    >
      <div style="position: absolute; backface-visibility: hidden">
        <p class="text-lg" x-text="card.front"></p>
      </div>
      <div
        style="
          transform: rotateY(180deg);
          position: absolute;
          backface-visibility: hidden;
        "
      >
        <p class="text-lg" x-text="card.back"></p>
      </div>
    </div>                                                                          
    <div
      @click.away="showHint=false"
      x-data="{showHint:false}"
      x-show="card.hint"
      class="text-center"
    >
      <p
        class="cursor-pointer text-lg select-none"
        @click.prevent="showHint=!showHint"
        x-text="showHint ? 'Hide hint' : 'Show hint'"
      >
        Show hint
      </p>
      <div
        x-show="showHint"
        x-transition:enter="transition ease duration-100 transform"
        x-transition:enter-start="opacity-0 scale-90 translate-y-1"
        x-transition:enter-end="opacity-100 scale-100 translate-y-0"
        x-transition:leave="transition ease duration-100 transform"
        x-transition:leave-start="opacity-100 scale-100 translate-y-0"
        x-transition:leave-end="opacity-0 scale-90 translate-y-1"
      >
        <p class="" x-text="card.hint"></p>
      </div>
    </div>
    <div
      class="w-full flex flex-col justify-center gap-4 text-xl"
      x-show="roundState"
    >
      <button
        class="order-first py-4 px-8 rounded font-medium border border-red-500 text-red-500 hover:bg-red-500 hover:text-white duration-150"
        @click="stopRound"
        x-show="roundState === 1"
      >
        Stop
      </button>
      <div class="flex justify-between gap-8">
        <button
          class="w-full py-4 px-8 rounded font-medium border border-green-500 text-green-500 hover:bg-green-500 hover:text-white duration-150"
          @click="answerHandler(false)"
        >
          Wrong
        </button>
        <button
          class="w-full py-4 px-8 rounded font-medium border border-green-500 text-green-500 hover:bg-green-500 hover:text-white duration-150"
          @click="answerHandler(true)"
        >
          Correct
        </button>
      </div>
    </div>
    <div
      class="w-full flex flex-col justify-center gap-4 text-xl"
      x-show="!roundState"
    >
      <button
        class="py-4 px-8 rounded font-medium border border-green-500 text-green-500 hover:bg-green-500 hover:text-white duration-150"
        @click="startRound"
      >
        Start
      </button>
      <div class="relative" x-data="module_select">
        <label for="id_tag_input" class="block text-sm font-bold"
          >Modules for the round:</label
        >
        <input
          class="w-full rounded-lg text-gray-700"
          type="text"
          placeholder="Leave empty for random"
          x-model="query"
          x-ref="query"
          @input="fetchModules($event.target.value)"
        />
        <!-- Found Modules -->
        <div :class="[results.length ? 'block' : 'hidden']">
          <div class="absolute z-40 left-0 mt-2 w-full">
            <div
              class="py-1 text-sm bg-white rounded shadow-lg border border-gray-300"
            >
              <template x-for="module in results">
                <a
                  @click.prevent="addModule(module)"
                  class="block py-1 px-5 cursor-pointer text-gray-700 hover:bg-sky-300"
                  x-text="module.name"
                >
                </a>
              </template>
            </div>
          </div>
        </div>
        <!-- Selected Modules -->
        <div class="mt-2 flex flex-wrap gap-2">
          <template x-for="module in selected">
            <div
              class="flex items-center gap-1 py-1 px-2 rounded border dark:text-gray-700 bg-blue-300 border-blue-100 dark:bg-indigo-300 dark:border-indigo-500 hover:cursor-pointer"
            >
              <p x-text="module.name"></p>
              <i
                class="fa-solid fa-xmark text-blue-700"
                x-on:click="selected = selected.filter(i => i !== module)"
              ></i>
            </div>
          </template>
          <input
            hidden
            type="text"
            name="tags"
            :value="selected.map(m => m.slug).join(',')"
            id="id_tags"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
