{% load static tailwind_tags %}
<!DOCTYPE html>
<html
  lang="en"
  x-data="{ darkMode: localStorage.getItem('theme') === 'dark'} "
  x-init="$watch('darkMode', val => localStorage.setItem('theme', val ? 'dark': 'light'))"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <title>Modules</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta 
      name="theme-color"
      x-bind:content="darkMode ? '#27272a' : '#fff'"
    />
    {% tailwind_css %}
    {% block head_script %}
    {% endblock %}
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/df62ff4303.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body
    class="font-sans min-h-screen dark:bg-zinc-800 duration-300 text-gray-700 dark:text-gray-200 mb-24 md:mb-0"
  >
    {% include 'includes/navbar.html' %} {% block content %} {% endblock %}
    {%include 'includes/footer.html' %}
  </body>
</html>
