{% extends 'base.html' %} {% block content %}
<div class="w-full">
  <!-- Breadcrumbs -->
  <div
    x-data="{
        path: '{{ request.path  }}'.slice(1, -1).split('/'),
    }"
    class="w-full mt-6 justify-center md:justify-start md:px-24 flex text-xs md:text-lg font-semibold items-center gap-6"
  >
    <a href="{% url 'home' %}" class="hover:text-blue-500 cursor-pointer"
      ><i class="fa-solid fa-house mr-2"></i>Home</a
    >
    <i class="fa-solid fa-chevron-right"></i>
    <template x-for="page in path" :key="page">
      <span>
        <a x-text="page.charAt(0).toUpperCase() + page.slice(1)" :href=""></a>
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </template>
    <a href="{% url 'cards-index' %}" class="hover:text-blue-500 cursor-pointer"
      >Flash Cards</a
    >

    <a href="{% url 'home' %}" class="hover:text-blue-500 cursor-pointer"
      >Arabic</a
    >
  </div>
  {% block cards_content %} {% endblock %}
</div>
{% endblock %}
