{% extends 'base.html' %} {% block content %}
<div class="container mx-auto my-12">
  <div class="flex justify-center mx-4 md:mx-auto">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col md:flex-row gap-2">
        <a
          class="w-full text-xl font-semibold text-center rounded-lg p-1 border hover:bg-blue-400 hover:text-gray-800 dark:hover:bg-gray-500 dark:border-gray-500"
          href="{% url 'cards-round' %}"
          >Start a round</a
        >
        <a
          class="w-full text-xl font-semibold text-center rounded-lg p-1 border hover:bg-blue-400 hover:text-gray-800 dark:hover:bg-gray-500 dark:border-gray-500"
          href=""
          >Statistics</a
        >
        <a
          class="w-full text-xl font-semibold text-center rounded-lg p-1 border hover:bg-blue-400 hover:text-gray-800 dark:hover:bg-gray-500 dark:border-gray-500"
          href="{% url 'new-card' slug=module.slug %}"
          >+</a
        >
      </div>
      <div class="flex flex-col gap-2 mb-2">
        <input
          type="text"
          placeholder="Search..."
          class="w-full rounded-lg text-gray-700"
        />
        <p class="text-xs text-center">Cards found: {{ cards|length }}</p>
      </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for card in cards %}
        <div
          class="flex rounded-lg border hover:bg-sky-100 dark:hover:bg-gray-500 dark:border-gray-500 min-h-fit min-w-fit"
        >
          <a
            class="p-2 w-full text-xl rounded-l text-left"
            href="{% url 'card-index' slug=module.slug id=card.id %}"
          >
            {{card.front}}
          </a>
          <div
            class="ml-2 relative"
            @click.away="showContextMenu=false"
            x-data="{showContextMenu:false}"
          >
            <button
              class="bg-red-300 h-full w-10 text-center text-gray-800 text-xl rounded-r-lg transition-all"
              @click.prevent="showContextMenu=true"
            >
              <i class="fa-regular fa-trash-can"></i>
            </button>
            <div
              class="absolute top-1 -left-10 z-30"
              style="display: none"
              x-show="showContextMenu"
              x-transition:enter="transition ease duration-100 transform"
              x-transition:enter-start="opacity-0 scale-90 translate-x-1"
              x-transition:enter-end="opacity-100 scale-100 translate-x-0"
              x-transition:leave="transition ease duration-100 transform"
              x-transition:leave-start="opacity-100 scale-100 translate-x-0"
              x-transition:leave-end="opacity-0 scale-90 translate-x-1"
            >
              <div
                class="bg-white overflow-auto rounded-lg shadow-md relative z-10 border border-gray-300 text-gray-800 text-xs"
              >
                <a
                  href="#"
                  class="p-3 flex hover:bg-red-300/50 no-underline hover:no-underline transition-colors duration-100 text-red-500"
                  @click.prevent="showContextMenu=false;fetch('{% url 'api:cards-detail' card.id %}', {method: 'DELETE', headers: {'X-CSRFToken': '{{ csrf_token }}'}}).then(response => window.location.reload())"
                >
                  <i class="fa-solid fa-xmark text-md"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
