{% extends 'base.html' %} {% load static %} {%block title %} Radio {% endblock%}
{%block content %}
<div class="mt-12 w-full flex justify-center">
  <div class="mx-4 w-full">
    {{ request.session.spotify_data|json_script:'spotify_data' }} {%csrf_token%}
    <div id="radio-app" class="flex justify-center items-center"></div>
  </div>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="{% static 'js/radio.js' %}"></script>
</div>
{% endblock %}
